#shell-header-hdr-end {
    position:fixed !important;
    top:8px !important;
    // right:calc(~'50vw - 620px') !important;
    right:calc(~'50vw - 584px') !important;
}
#shell-header {width:0 !important; padding:0 !important}
main {top:-34px !important;}
.sapUshellShellHeader {
    background-color: #2d2d2d;
}
#myInboxBtn {
    display: none;
}
#notificationBtn {
    display: none;
}
#jamProfileIcon{
    background-color: #4d4d4d !important;
    width:32px !important;
    height:32px !important;
    line-height: 32px !important;
    position: absolute !important;
    top: -45px !important;
}
#meAreaHeaderButton {
    top: 60px !important;
    position: fixed !important;
    background-color: transparent !important;
}